* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    /* font-family: "Sen", sans-serif; */
    font-family: "Poppins", sans-serif;
}

/* ======common====== */
.content {
    margin: 0 auto;
    /* width: calc(100vw - 135px * 2); */
    width: 1170px;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 11px 0;
    min-width: 144px;
    border-radius: 9999px;
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-weight: 600;
}

.btn:hover {
    opacity: 0.9;
}

/* ======header====== */
.header {
    background: #fffcf4;
}

.fixed {
    position: sticky;
    top: -26px;
    z-index: 1;
    padding-top: 36px;
    padding-bottom: 10px;
}

/* .header .content {
    background-color: rgb(229, 209, 119);
} */

.header .navbar {
    display: flex;
    align-items: center;
    height: 50px;
}

.navbar ul {
    display: flex;
    gap: 43px;
    margin-left: auto;
}

.navbar ul a {
    position: relative;
    display: inline-block;
    padding: 15px 0;
    font-family: Poppins;
    color: #5f5b53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    text-align: center;
}

.navbar ul li.active a::after {
    position: absolute;
    left: 0;
    bottom: 6px;
    display: none;
    content: "";
    width: 12px;
    height: 2px;
    border-radius: 9999px;
    background-color: #171100;
}

.navbar ul li:hover a {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.navbar ul li:hover a::after {
    display: inline-block;
}

.navbar .action {
    margin-left: 70px;
}

.navbar .action-click {
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
    background: #171100;
}

/* ======main====== */
/* =====hero===== */
.hero {
    background: #fffcf4;
}

.hero .content {
    padding: 65px 0;
    /* background-color: antiquewhite; */
}

.hero .row {
    display: flex;
    align-items: center;
}

/* ===image-block=== */

.hero .image-block {
    position: relative;
    margin-right: auto;
    width: 470px;
    height: 685px;
    border-radius: 20px;
    background-image: url(../img/stats-image.jpg);
    background-repeat: no-repeat;
}

.hero .image-block .stats {
    position: absolute;
    right: -100px;
    bottom: 48px;
    display: inline-block;
    padding: 24px;
    width: 270px;
    height: 244px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero .image-block .stats .row {
    display: flex;
    align-items: center;
}

.hero .image-block .stats .row ~ .row {
    margin-top: 14px;
}

.hero .image-block .stats .row .icon-stats {
    display: flex;
    width: 48px;
    height: 48px;
    border-radius: 9999px;
}

.hero .image-block .stats .row .design {
    background-color: #fff9e8;
}

.hero .image-block .stats .row .development {
    background-color: #fcefff;
}

.hero .image-block .stats .row .marketing {
    background-color: #ebeaff;
}

.hero .image-block .stats .icon-stats img {
    display: inline-block;
    margin: auto;
    width: 24px;
    height: 24px;
}

.hero .image-block .stats .row .values-stats {
    margin-left: 16px;
}

.hero .stats .row .values-stats .course-stats {
    color: #5f5b53;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
}

.hero .stats .row .values-stats .course-name {
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

/* ===info=== */
.hero .row .info {
    /* margin-top: 63px; */
    margin-left: 230px;
    width: 470px;
    height: 558px;
    /* background-color: #fff; */
    background: #fffcf4;
}

.hero .info .title {
    color: #171100;
    font-family: Sen;
    font-size: 5.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: -1.16px;
}

.hero .info .sub-title {
    margin-top: 22px;
    color: #5f5b53;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.66;
}

.hero .info .action {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero .info .action .btn {
    width: 180px;
    height: 64px;
    border-radius: 32px;
    background: #ffb900;
    color: #fff;
    font-size: 1.8rem;
    line-height: 1.6; /* 166.667% */
}

.hero .info .action .action-watch {
    display: flex;
    margin-left: 38px;
}

.hero .info .action-watch {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    /* background-color: #00ff44; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 9999px;
}

.hero .info .action-watch .Watch {
    position: absolute;
    display: inline-block;
}

.hero .info .action-watch .pause {
    display: inline-block;
    border: 7.5px solid #ffb900;
    border-color: transparent;
    border-left: 15px solid #ffb900;
    border-right: none;
}

.hero .info .action-watch .play {
    display: none;
    width: 15px;
    height: 15px;
    border-left: 5px solid #ffb900;
    border-right: 5px solid #ffb900;
}

.hero .info .action-watch:active .pause {
    display: none;
}

.hero .info .action-watch:active .play {
    display: inline-block;
}

.hero .info .action .watch-video {
    display: inline-block;
    margin-left: 14px;
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

.hero .info .recent {
    margin-top: 48px;
}

.hero .recent .row {
    display: flex;
    margin-top: 8px;
}

.hero .recent .recent-stats {
    display: flex;
}

.hero .recent .row .recent-stats ~ .recent-stats {
    margin-left: 28px;
}

.hero .recent-stats .values-recent {
    color: #171100;
    font-family: "Sen", sans-serif;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.227; /* 122.727% */
}

.hero .recent-stats .sub-title {
    display: inline-block;
    margin-left: 14px;
}

/* ======Courses======= */
.courses {
    background: #fff;
}

.courses .content {
    margin-top: 200px;
    /* background-color: aquamarine; */
}

.courses .content .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses .row .info {
    width: 458px;
}

.courses .info .title {
    color: #171100;
    font-family: "Sen", sans-serif;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26; /* 126.316% */
    letter-spacing: -0.76px;
}

.courses .info .sub-title {
    margin-top: 16px;
    color: #5f5b53;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.67;
}

.courses .row .action-more {
    display: flex;
    gap: 18px;
    width: 98px;
}

.courses .action-more .btn-more {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4px;
    width: 40px;
    height: 40px;
    border: 2px solid #ffb900;
    border-radius: 20px;
    color: #ffb900;
    background-color: #fff;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 2rem;
    font-weight: 300;
}

.courses .action-more .btn-more:hover {
    background-color: #ffb900;
    color: #fff;
}

.courses .list-item {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.courses .list-item .item {
    width: 370px;
    height: 466px;
    border: 1px solid #e2dfda;
    border-radius: 12px;
}

.courses .list-item .item:hover {
    border: hidden;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.courses .item .thumb {
    width: 100%;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.courses .item .body {
    margin: 16px 12px 12px 12px;
    width: 326px;
    height: 150px;
}

.courses .body .row {
    display: flex;
    align-items: center;
}

.courses .body .row .title {
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

.courses .body .row .stars {
    display: flex;
    align-items: center;
}

.courses .row .stars .stars-stats {
    margin-left: 6px;
    color: #fea31b;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.courses .row .stars .stars-icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(../img/Star.svg);
}

.courses .body .sub-title {
    display: inline-block;
    margin-top: 6px;
    color: #5f5b53;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
}

.courses .body .action-bought {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
    height: 50px;
}

.courses .action-bought .price {
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

.courses .action-bought .bought {
    min-width: 118px;
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.85; /* 185.714% */
    background-color: #171100;
}

.courses .action-bought .bought:hover {
    background-color: #ffb900;
}
