* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    /* font-family: "Sen", sans-serif; */
    font-family: "Poppins", sans-serif;
}

/* ======common====== */
.content {
    margin: 0 auto;
    /* width: calc(100vw - 135px * 2); */
    width: 1170px;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 11px 0;
    min-width: 144px;
    border-radius: 9999px;
    background-color: #171100;
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-weight: 600;
}

.btn:hover {
    opacity: 0.9;
}

/* ==list-items-common== */

.info .title {
    color: #171100;
    font-family: "Sen", sans-serif;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26; /* 126.316% */
    letter-spacing: -0.76px;
}

.info .sub-title {
    margin-top: 16px;
    color: #5f5b53;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.67;
}

.list-item {
    display: flex;
    gap: 30px;
    margin-top: 55px;
}

.list-item .item {
    height: 467px;
    background-color: #fff;
}

.list-item .item:hover {
    border: hidden;
}

.item .thumb {
    width: 100%;
    object-fit: cover;
}

.body .row {
    display: flex;
    align-items: center;
}

.body .row .title {
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    line-height: 1.67; /* 166.667% */
}

.body .sub-title {
    display: inline-block;
    margin-top: 6px;
    color: #5f5b53;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
}

.body .btn-action {
    display: flex;
    margin-top: 12px;
    height: 50px;
}

.btn-action .atc {
    min-width: 118px;
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.85; /* 185.714% */
    background-color: #171100;
}

.btn:hover {
    background-color: #ffb900;
}

/* ====circle-more-common==== */

.control-point {
    display: flex;
    align-items: center;
    gap: 6px;
    width: 30px;
    height: 6px;
}

.control-point .btn {
    display: inline-block;
    padding: 0;
    min-width: 6px;
    height: 6px;
    border-radius: 9999px;
    background-color: #634700;
}

.control-point .btn:hover {
    background-color: orange;
}

/* ======header====== */
.header {
    display: flex;
    align-items: center;
    height: 104px;
    background: #fffcf4;
}

header.fixed {
    position: sticky;
    top: -35px;
    z-index: 1;
    padding-top: 36px;
    padding-bottom: 1px;
}

/* .header .content {
    background-color: rgb(229, 209, 119);
} */

.header .navbar {
    display: flex;
    align-items: center;
    height: 50px;
}

.navbar ul {
    display: flex;
    gap: 43px;
    margin-left: auto;
}

.navbar ul a {
    position: relative;
    display: inline-block;
    padding: 15px 0;
    font-family: Poppins;
    color: #5f5b53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    text-align: center;
}

.navbar ul li.active a::after {
    position: absolute;
    left: 0;
    bottom: 6px;
    display: none;
    content: "";
    width: 12px;
    height: 2px;
    border-radius: 9999px;
    background-color: #171100;
}

.navbar ul li:hover a {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.navbar ul li:hover a::after {
    display: inline-block;
}

.navbar .action {
    margin-left: 70px;
}

.navbar .action-click {
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
    background: #171100;
}

/* ======main====== */
/* =====hero===== */
.hero {
    background: #fffcf4;
}

.hero .content {
    padding: 65px 0;
    height: 832px;
    /* background-color: antiquewhite; */
}

.hero .row {
    display: flex;
    align-items: center;
}

/* ===image-block=== */

.hero .image-block {
    position: relative;
    margin-right: auto;
    width: 470px;
    height: 685px;
    border-radius: 20px;
    background-image: url(../img/stats-image.jpg);
    background-repeat: no-repeat;
}

.hero .image-block .stats {
    position: absolute;
    right: -100px;
    bottom: 48px;
    display: inline-block;
    padding: 24px;
    width: 270px;
    height: 244px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero .image-block .stats .row {
    display: flex;
    align-items: center;
}

.hero .image-block .stats .row ~ .row {
    margin-top: 14px;
}

.hero .image-block .stats .row .icon-stats {
    display: flex;
    width: 48px;
    height: 48px;
    border-radius: 9999px;
}

.hero .image-block .stats .row .design {
    background-color: #fff9e8;
}

.hero .image-block .stats .row .development {
    background-color: #fcefff;
}

.hero .image-block .stats .row .marketing {
    background-color: #ebeaff;
}

.hero .image-block .stats .icon-stats img {
    display: inline-block;
    margin: auto;
    width: 24px;
    height: 24px;
}

.hero .image-block .stats .row .values-stats {
    margin-left: 16px;
}

.hero .stats .row .values-stats .course-stats {
    color: #5f5b53;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
}

.hero .stats .row .values-stats .course-name {
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

/* ===info=== */
.hero .row .info {
    /* margin-top: 63px; */
    margin-left: 230px;
    width: 470px;
    height: 558px;
    /* background-color: #fff; */
    background: #fffcf4;
}

.hero .info .title {
    color: #171100;
    font-family: Sen;
    font-size: 5.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: -1.16px;
}

.hero .info .sub-title {
    margin-top: 22px;
    color: #5f5b53;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.66;
}

.hero .info .action {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero .info .action .action-see {
    min-width: 180px;
    padding: 17px 33px;
    border-radius: 32px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

.hero .info .action .action-watch {
    display: flex;
    align-items: center;
}

.hero .action-watch .btn-watch {
    display: flex;
    margin-left: 38px;
}

.hero .action-watch .btn-watch {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    /* background-color: #00ff44; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 9999px;
}

.hero .action-watch.btn-watch .Watch {
    position: absolute;
    display: inline-block;
}

.hero .info .btn-watch .pause {
    display: inline-block;
    border: 7.5px solid #171100;
    border-color: transparent;
    border-left: 15px solid #171100;
    border-right: none;
}

.hero .info .btn-watch .play {
    display: none;
    width: 15px;
    height: 15px;
    border-left: 5px solid #ffb900;
    border-right: 5px solid #ffb900;
}

.hero .info .btn-watch:active .pause {
    display: none;
}

.hero .info .btn-watch:active .play {
    display: inline-block;
}

.hero .info .action .sub-title {
    display: inline-block;
    margin-top: 0;
    margin-left: 14px;
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

.hero .info .recent {
    margin-top: 48px;
}

.hero .recent .row {
    display: flex;
    margin-top: 8px;
}

.hero .recent .recent-stats {
    display: flex;
}

.hero .recent .row .recent-stats ~ .recent-stats {
    margin-left: 28px;
}

.hero .recent-stats .values-recent {
    color: #171100;
    font-family: "Sen", sans-serif;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.227; /* 122.727% */
}

.hero .recent-stats .sub-title {
    display: inline-block;
    margin-left: 14px;
}

/* ======Courses======= */
.courses {
    background: #fff;
    margin-top: 200px;
}

.courses .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses .row .info {
    width: 458px;
    text-align: left;
}

.courses .row .action-more {
    display: flex;
    gap: 18px;
    width: 98px;
}

.courses .action-more .btn-more {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4px;
    width: 40px;
    height: 40px;
    border: 2px solid #ffb900;
    border-radius: 20px;
    color: #ffb900;
    background-color: #fff;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 2rem;
    font-weight: 300;
}

.courses .action-more .btn-more:hover {
    background-color: #ffb900;
    color: #fff;
}

.courses .item {
    height: 466px;
}

.courses .item .thumb {
    height: 278px;
    border-radius: 12px 12px 0px 0px;
}

.courses .item .body {
    margin: 16px 22px 22px;
    width: 326px;
    height: 150px;
    /* background-color: #fea31b; */
}

.courses .body .row .title {
    font-size: 1.8rem;
    line-height: 1.67; /* 166.667% */
}

.courses .body .row .stars {
    display: flex;
    align-items: center;
}

.courses .row .stars .stars-stats {
    margin-left: 6px;
    color: #fea31b;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.courses .row .stars .stars-icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(../img/Star.svg);
}

.courses .list-item .item {
    width: 370px;
    height: 466px;
    border: 1px solid #e2dfda;
    border-radius: 12px;
}

.courses .list-item .item:hover {
    border: hidden;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.courses .body .sub-title {
    margin-top: 6px;
}

.courses .body .btn-action {
    align-items: center;
    justify-content: space-between;
}

.courses .action-bought .price {
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

/* ========Feedback======== */

.feedback {
    margin-top: 200px;
    background: #2e2100;
}

.feedback .content {
    position: relative;
    /* padding: 96px 0; */
    height: 380px;
}

.feedback .student {
    padding-top: 96px;
    display: flex;
    gap: 241px;
}

.feedback .student .info {
    display: inline-block;
    width: 159px;
    height: 188px;
    text-align: left;
}

.feedback .info .student-avatar {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 9999px;
}

.feedback .info .student-name {
    margin-top: 18px;
    color: #f7f7f7;
    font-family: Sen;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.41; /* 141.667% */
}

.feedback .info .student-major {
    margin-top: 4px;
    color: #bfbcb2;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
}

.feedback .student .student-comment {
    position: relative;
    margin-top: 28px;
    width: 770px;
    height: 188px;
}

.feedback .student-comment .comment-content {
    color: #fff;
    font-family: Poppins;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.54; /* 153.846% */
}

.feedback .student-comment .icon-comment {
    position: absolute;
    top: -25px;
    left: -30px;
    width: 30px;
    height: 28px;
    background-image: url(../img/comment-icon.svg);
}

.feedback .content .control-point {
    position: absolute;
    bottom: 96px;
}

/* ======Call-Action====== */

.call-action {
    margin-top: 200px;
    background: #fff;
}

.call-action .content .row {
    margin-top: 200px;
    background: #fff;
}

.call-action .content .call-sign-up {
    display: flex;
    gap: 130px;
}

.call-action .call-sign-up .block-image {
    position: relative;
    display: flex;
    gap: 30px;
    width: 570px;
    height: 438px;
}

.call-action .block-image .thumb {
    position: absolute;
    display: inline-block;
    width: 270px;
    height: 405px;
    object-fit: cover;
    border-radius: 16px;
}

.call-action .block-image .thum-1 {
    left: 0;
    bottom: 0;
}

.call-action .block-image .thumb-2 {
    top: 0;
    right: 0;
}

.call-action .body {
    width: 470px;
}

.call-action .body .title {
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26; /* 126.316% */
    letter-spacing: -0.76px;
}

.call-action .body .sub-title {
    margin-top: 16px;
    width: 458px;
    color: #5f5b53;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.call-action .body .btn {
    margin-top: 32px;
    min-width: 137px;
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.75; /* 175% */
    border-radius: 26px;
    background: #171100;
}

.call-action .body .btn:hover {
    background: #ffb900;
}

.call-action .call-join-now {
    display: flex;
    gap: 130px;
    align-items: center;
}

.call-action .call-join-now .block-image {
    position: relative;
    width: 470px;
    height: 438px;
}

.call-action .call-join-now .block-image .thumb {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 440px;
    object-fit: cover;
    border-radius: 16px;
}

.call-action .call-join-now .body {
    width: 570px;
}

.call-action .call-join-now .sub-title {
    width: 570px;
}

/* ========blogs========= */
.blogs {
    display: flex;
    margin-top: 200px;
    background: #fffcf4;
}

.blogs .content {
    padding: 96px 0px;
    height: 878px;
    background: #fffcf4;
}

.blogs .content .row {
    display: flex;
    justify-content: center;
}

.blogs .row .info {
    width: 448px;
    text-align: center;
}

.blogs .row .info .sub-title {
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
}

.blogs .list-item .item {
    height: 467px;
    border-radius: 16px;
    border-radius: 16px;
    background: #fff;
}

.blogs .list-item .item:hover {
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.blogs .item .thumb {
    height: 250px;
    border-radius: 16px 16px 0px 0px;
}

.blogs .body {
    position: relative;
    margin: 20px 20px 28px;
    width: 330px;
    height: 169px;
}

.blogs .body .times {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 160px;
    height: 42px;
}

.blogs .body .times::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 160px;
    height: 1px;
    flex-shrink: 0;
    border-radius: 0.5px;
    background: #e2dfda;
}

.blogs .body .times .icon-circle {
    width: 6px;
    height: 6px;
    background-image: url(../img/icon-circle.svg);
}

.blogs .body .times .sub-title {
    margin-left: 4px;
}

.blogs .body .title {
    margin-top: 12px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}

.blogs .body .action-read {
    position: absolute;
    bottom: 0;
    left: 0;
}

/* =======footer======== */
.footer {
    background: #2e2100;
    height: 428px;
}
